<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파일명</title>
  </head>
  <body>
    <div id="app">
      <h1>로그인 폼</h1>
      <form @submit.prevent="login">
        <!-- 
        전송을 위한 폼이다. @로 이벤트
        -->
        <label for="username">사용자명</label>
        <input
          id="username"
          type="text"
          required
          v-model="loginForm.username"
        />
        <br />
        <label for="password">비밀번호</label>
        <input
          id="password"
          type="password"
          required
          v-model="loginForm.password"
        />
        <br />
        <label for="remember">로그인상태</label>
        <input type="checkbox" id="remember" v-model="" loginForm.remember />
        <br />
        <button type="submit">로그인</button>
        <!-- 
        button 에 submit 적용시, 폼의 내용들을 전송하는 이벤트라고 이해할 수 있음.
        -->
      </form>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
      const { createApp } = Vue;

      let vm = createApp({
        name: 'App',
        data() {
          return {
            message: '',
            loginForm: {
              username: '',
              password: '',
              remember: false,
            },
          };
        },
        methods: {
          login() {
            console.log('실행');
          },
        },
      });
      vm.mount('#app');
    </script>
  </body>
</html>
